<h1>Edit student</h1>

<%= form_for @student do |f| %>

  <%= f.label 'First name' %>
  <%= f.text_field :first_name %><br>

  <%= f.label 'Last name' %>
  <%= f.text_field :last_name %><br>

  <%= f.submit 'Update Student' %>

<% end %>